.contenedor_tiendaId_item {
  margin: 20px auto;
  height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0 30px;
}

.contenedor_tiendaId_item > img {
  object-fit: cover;
  height: 70vh;
}

.contenedor_imagen > img {
  max-width: 100%;
}

.contenedor_tiendaId_texto {
  width: 50%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  background-color: #f1e8d790;
}

.tiendaID_titulo,
.tiendaID_descripcion,
.tiendaID_stock,
.tiendaID_precio,
.tiendaID_telefono,
.tiendaID_instagram,
.tiendaID_facebook {
  margin: 0 50px;
  font-family: var(--font-parrafos);
  font-weight: 500;
  color: var(--font-color-oscuro);
  font-size: 18px;
}

.tiendaID_nombre {
  font-family: var(--font-titulos);
  color: var(--font-color-oscuro);
  font-weight: 800;
  font-size: 30px;
  height: 80px;
  display: flex;
  align-items: center;
  margin: -30px 30px 15px 30px;
}

.tiendaID_detalle {
  margin: 25px 0;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10%;
}

.tiendaID_titulo {
  font-weight: 800;
}

.tiendaID_descripcion {
  font-size: 16px;
}

@media screen and (max-width: 800px) {
  .nombre {
    font-size: 16px;
  }
  .detalle > p {
    font-size: 12px;
  }
}
