.pagina_inicio_emprendedor {
  height: auto;
  width: 100%;
  margin: auto;
}

.emprendedor_tienda,
.registro_producto,
.banner_informativo,
.emprendedor_informativo {
  position: relative;
}

.btn_tienda {
  position: absolute;
  top: 90%;
  left: 0;
  width: 100%;
}

.btn_producto {
  position: absolute;
  bottom: 10%;
  left: 50%;
}
