.contenedor_registro_tienda {
  position: relative;
  font-family: var(--font-titulos);
  color: var(--font-color-oscuro);
}

.registro_tienda_primeraParte {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 20px 0;
  padding: 0;
}

.registro_tienda_titulo {
  font-size: 34px;
  margin: 20px 0;
}

.registro_tienda_foto {
  position: absolute;
  top: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 8%;
}

.registro_tienda_foto > img {
  height: 180px;
}

.tienda_foto_titulo {
  margin: 20px 0;
  font-size: 20px;
  text-align: center;
}

.registro_tienda_formulario {
  display: flex;
  justify-content: center;
  height: 40vh;
}

.contenedor_tienda_nombre {
  position: absolute;
  height: 80px;
  width: 40%;
}

.contenedor_tienda_nombre > p {
  margin: 8px 0;
  text-align: left;
}

.contenedor_tienda_descripcion {
  margin-top: 20px;
  position: absolute;
  top: 55%;
  height: 80px;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 10px;
}

.contenedor_tienda_descripcion > p {
  position: absolute;
  text-align: left;
  left: 0;
}

.input_descripcion {
  left: 10%;
  top: 40%;
}

.inputTienda {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.input_tienda_nombre,
.input_tienda_descripcion {
  position: absolute;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  top: 30%;
  height: 40px;
  width: 80%;
}

.input_tienda_nombre {
  left: 10%;
  top: 40%;
}

.contenedor_registro_tienda_pagos {
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

.tienda_pagos_titulo {
  margin-bottom: 20px;
  text-align: center;
}

.tienda_metodos_pago {
  display: flex;
  justify-content: space-between;
}

.tienda_pagos_left,
.tienda_pagos_right {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.tienda_pagos_left div,
.tienda_pagos_right div {
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.tienda_pagos_left div img,
.tienda_pagos_right div img {
  margin-right: 10px;
}

.pago_transferencia > img,
.pago_efectivo > img {
  height: 15px;
  width: 30px;
}

.pago_credito > img,
.pago_debito > img {
  height: 15px;
  width: 30px;
  margin-right: 10px;
}

.formulario_contacto_tienda {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
  height: 450px;
}

.tienda_contacto_cabecera {
  margin-top: 20px;
  text-align: center;
}

.tienda_contacto_cabecera > p {
  margin-top: 10px;
}

.tienda_ig {
  margin: 20px 0;
  text-align: center;
}

.tienda_fb {
  margin: 20px 0;
  text-align: center;
}

.btnRegistrarTienda {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -10%;
  left: 50%;
}

.inputTienda {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.inputNumero {
  width: 100%;
  padding: 10px;
  margin: 20px 0px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
}

.inputIg,
.inputFb {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
