nav {
  border: 1px solid black;
  height: 100px;
  width: 100vw;
  display: flex;
  /*   justify-content: space-between; */
  position: fixed;
}

.nav_logo {
  border: 1px solid green;
  max-height: 100px;
  max-width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 80px;
}

.nav_logo > img {
  max-height: 90px;
}

.nav_menu {
  border: 1px solid orange;
  max-height: 100px;
  min-width: 220px;
  width: 26%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_menu_list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.nav_menu_item {
  height: 30px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.nav_menu_link {
  border: 1px solid purple;
  font-family: var(--font-titulos);
  color: var(--color-naranja-icono);
  font-size: 18px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.nav_menu_item {
  border: 1px solid blue;
  margin: auto;
  display: flex;
}

.nav_toggle,
.nav_close {
  cursor: pointer;
  display: none;
}

.nav_toggle > img {
  height: 50px;
}

.nav_close > img {
  height: 30px;
}

.nav_busqueda {
  border: 1px solid purple;
  width: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}

.nav_busqueda > img {
  border: 1px solid yellowgreen;
  position: absolute;
  height: 30px;
  margin-left: 80%;
}

.nav_busqueda > p {
  display: flex;
  border: 1px solid var(--color-naranja-icono);
  border-radius: 20px;
  position: absolute;
  height: 40px;
  width: 100%;
  font-family: var(--font-titulos);
  font-size: 14px;
  color: var(--font-color-oscuro);
  align-items: center;
  justify-content: center;
}

.nav_usuario {
  border: 1px solid red;
  height: 100px;
  min-width: 24%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav_usuario_icon > img {
  border: 1px solid orange;
  height: 60px;
  margin: 0;
}

.nav_usuario_saludo > h2 {
  top: 16px;
  position: absolute;
  border: 1px solid blueviolet;
}

.nav_usuario_ingreso > a {
  top: 70px;
  position: absolute;
  border: 1px solid darkred;
}

.nav_usuario_registro > a {
  top: 50px;
  position: absolute;
  border: 1px solid darkred;
}

.nav_usuario_ingreso > a,
.nav_usuario_registro > a,
.nav_usuario_saludo > h2 {
  font-family: var(--font-titulos);
  color: var(--font-color-oscuro);
  font-weight: 800;
  font-size: 12px;
  display: flex;
}

.show_menu {
  left: 0;
}
