.header {
  position: sticky;
  width: 100%;
  top: 0;
  background-color: transparent;
  z-index: 1;
}

.nav {
  position: fixed;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2%;
  border-bottom: 30px solid var(--color-naranja-icono);
}

.logo {
  height: 100px;
  width: 120px;
  margin-left: 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav__logo > img {
  height: 60px;
  width: 50px;
  margin: 0 30px;
}

.nav__marca > p {
  color: var(--font-color-oscuro);
  font-family: var(--font-logo);
  font-size: 20px;
  text-align: center;
  margin: 0;
  line-height: 1px;
  height: 10px;
}

.nav__close > img {
  height: 20px;
  cursor: pointer;
  top: 10px;
  cursor: pointer;
  color: var(--font-color-oscuro);
}

.nav__close {
  position: absolute;
  top: 20px;
  right: 20px;
}

.nav__toggle > img {
  position: absolute;
  height: 50px;
  cursor: pointer;
  top: 10px;
  left: 130px;
}

.nav__list {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.nav__link {
  font-family: var(--font-titulos);
  color: var(--font-color-oscuro);
  font-weight: 800;
  margin: 0 auto;
  transition: color 0.4s;
}

.nav__link:hover {
  color: var(--color-1);
}

.barra-busqueda {
  border: 1px solid var(--color-naranja-icono);
  border-radius: 20px;
  height: 30px;
  width: 500px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.barra-busqueda > p {
  flex-wrap: wrap;
  font-family: var(--font-titulos);
  color: var(--font-color-oscuro);
  margin: 0 auto;
  line-height: 30px;
  position: absolute; /* Siempre se mantendra al medio */
}

.barra-busqueda > a {
  font-family: var(--font-titulos);
  color: var(--font-color-oscuro);
  font-weight: 800;
  font-size: 16px;
  position: absolute;
  top: 100%;
}

.barra-busqueda > img {
  height: 30px;
  margin-left: auto; /* Hara que siempre se posicione a la derecha a la misma distancia */
  margin-right: 20px;
  cursor: pointer;
}

.usuario {
  width: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--font-color-oscuro);
  position: sticky;
  margin-right: 5px;
}

.icon_usuario > img {
  height: 50px;
}

.saludo {
  font-family: var(--font-titulos);
  font-size: 16px;
  font-weight: 900;
  line-height: 20px;
  text-align: left;
}

.saludo > a {
  font-family: var(--font-titulos);
  color: var(--font-color-oscuro);
  font-weight: 800;
  font-size: 16px;
  position: fixed;
  top: 7%;
  right: 18%;
}

@media screen and (max-width: 800px) {
  .logo {
    height: 70px;
    width: 120px;
  }
  .nav__logo > img {
    height: 50px;
  }
  .nav__marca > p {
    font-size: 18px;
    width: 130px;
    line-height: 16px;
  }
  .nav__menu {
    position: fixed;
    top: 14%;
    left: -100%;
    background-color: var(--background-text);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    width: 30%;
    height: 80%;
    padding: 80px 20px;
    transition: left 0.4s;
  }
  .nav__link {
    color: var(--font-color-oscuro);
    justify-content: left;
  }
  .nav__list {
    flex-direction: column;
    gap: 40px;
  }
  .barra-busqueda {
    position: fixed;
    border: none;
    right: 40%;
    width: 100px;
    height: 30px;
  }
  .barra-busqueda > img {
    position: fixed;
    height: 30px;
  }
  .barra-busqueda > p {
    display: none;
  }
  .usuario {
    position: fixed;
    right: 0;
  }
  .usuario > img {
    position: fixed;
    right: 16%;
    height: 50px;
  }
  .saludo > p {
    display: none;
  }
}

@media screen and (min-width: 800px) {
  .nav {
    height: calc(100px + 1rem);
  }
  .nav__close,
  .nav__toggle {
    display: none;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 2.5rem;
  }
  .barra-busqueda > a {
    display: none;
  }
  .saludo > a {
    display: none;
  }
}

.show_menu {
  left: 0;
}
/* endRegion profe */
