.contenedor_item {
  position: relative;
  background-color: #fa8f2130;
  margin: 20px auto 40px auto;
  height: 400px;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0 30px;
  box-shadow: 20px 20px 5px var(--color-naranja-icono);
}

.contenedor_item_imagen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 340px;
  height: 340px;
  position: absolute;
  object-fit: cover;
  left: 3%;
  top: 8%;
  border: 3px solid var(--color-naranja-icono);
}

.contenedor_item_texto {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 340px;
  width: 400px;
  right: 3%;
}

.item_titulo,
.item_descripcion,
.item_stock,
.item_precio {
  font-family: var(--font-parrafos);
  font-weight: 500;
  color: var(--font-color-oscuro);
}

.item_nombre {
  font-family: var(--font-titulos);
  color: var(--font-color-oscuro);
  font-size: 36px;
  margin: 0 0 90px 0;
}

.item_detalle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  height: 100px;
}

.item_titulo {
  font-size: 18px;
  font-weight: 800;
}

.item_descripcion {
  font-size: 16px;
  width: 100%;
  height: 60px;
}

.item_precio {
  font-size: 50px;
}

.item_stock {
  font-size: 18px;
  margin: 10px 0 0 0;
}

@media screen and (max-width: 800px) {
  .nombre {
    font-size: 16px;
  }
  .detalle > p {
    font-size: 12px;
  }
}
