/* contenedor principal */
.Preguntas-contenedor {
  width: 90%;
  margin: 10px auto;
  padding: 20px;
  background-color: var(--background-text);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.Preguntas-titulo {
  font-family: var(--font-titulos);
  font-size: 38px;
  color: var(--font-color-oscuro);
  text-align: center;
  margin-bottom: 20px;
}

.Preguntas {
  margin-bottom: 10px;
}

/*cada pregunta*/
.Preguntas-pregunta {
  font-family: var(--font-titulos);
  font-size: 16px;
  color: var(--color-naranja-icono);
  font-weight: 800;
  cursor: pointer;
  padding: 10px;
  background-color: var(--font-color-claro);
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

/*fondo*/
.Preguntas-pregunta:hover {
  background-color: #dce0e3;
}

/* cada respuesta desplegable */
.Preguntas-respuesta {
  font-family: var(--font-titulos);
  font-size: 14px;
  color: var(--font-color-oscuro);
  padding: 10px;
  background-color: var(--font-color-claro);
  border-radius: 4px;
  margin-top: 5px;
}
